@model List<Booking>

<h2>Bookings</h2>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Property</th>
            <th>User</th>
            <th>Date</th>
            <th>Verification Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.BookingId</td>
                <td>@booking.Property.Title</td>
                <td>@booking.User.FirstName @booking.User.LastName</td>
                <td>@booking.BookingDate.ToShortDateString()</td>
                <td>@booking.Status</td>
                <td><input type="checkbox" name="name" value="" /></td>

            </tr>
        }
    </tbody>
</table>