@model List<Booking>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    function payNow(bookingId, name, email, contact) {
        fetch(`/Booking/CreateOrder?bookingId=${bookingId}`)
            .then(res => res.json())
            .then(data => {
                var options = {
                    "key": data.key,
                    "amount": data.amount,
                    "currency": "INR",
                    "name": "EstatePro Booking Payment",
                    "description": "Complete your booking",
                    "order_id": data.orderId,
                    "handler": function (response) {
                        window.location.href = `/Booking/PaymentSuccess?bookingId=${bookingId}&paymentId=${response.razorpay_payment_id}`;
                    },
                    "prefill": {
                        "name": name,
                        "email": email,
                        "contact": contact
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };
                var rzp = new Razorpay(options);
                rzp.open();
            });
    }
</script>


<h2>Bookings</h2>
<a asp-controller="Booking" asp-action="Create" class="btn btn-primary mb-3">New Booking</a>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Property</th>
            <th>User</th>
            <th>Date</th>
            <th>Verification Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.BookingId</td>
                <td>@booking.Property.Title</td>
                <td>@booking.User.FirstName @booking.User.LastName</td>
                <td>@booking.BookingDate.ToShortDateString()</td>
                <td>@booking.Status</td>

                <td>
                    @if (booking.Status == "Confirmed" && !booking.IsPaid)
                    {
                        @* <button id="payBtn" class="btn btn-success">Pay ₹@booking.Property.Price</button> *@
                        <button class="btn btn-success btn-sm" onclick="payNow('@booking.BookingId', '@booking.User.FirstName @booking.User.LastName', '@booking.User.Email', '@booking.User.PhoneNumber')">Pay</button>
                    }
                    else if (booking.IsPaid)
                    {
                        <span class="badge bg-success">Paid</span>
                    }

                    <a asp-controller="Booking" asp-action="Delete" asp-route-id="@booking.BookingId" onclick="return confirm('Are you Sure?')" class="btn btn-sm btn-danger">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>
